<div class="row">
  <div class="col-12 text-center">
    <img width="60%" src="assets/img/gateways/{{name}}.png" alt="">
  </div>

    <div class="col-12">
      <form id="formGateway_{{name}}" action="" class="formGateway__" method="post">

          <div class="form-group">
            <label for="" class="label-control" >API Key</label>
            <input class="form-control" type="text" placeholder="API Key" name="access_token" value="{{access_token}}">
          </div>

          <div class="form-group">
            <label for="" class="label-control" >Chave pix</label>
            <input class="form-control" type="text" placeholder="Chave pix" name="addressKey" value="{{addressKey}}">
            <small>Obrigatório para usar pix no checkout</small>
          </div>
          
          
          <div class="form-group">
            <label for="" class="label-control" >Webhook</label>
            <input class="form-control" type="text" placeholder="Webhook" disabled name="webhook" value="SITE_URL/callback/asaas/notification.php">
            <small>Adicione o weebhook em sua conta Asaas para "Webhook para cobranças"</small>
          </div>
          
          
          

         <input type="hidden" name="name" value="{{name}}" >
      </form>
    </div>

  <div class="col-12 text-right">
    <a data-gateway="{{name}}" onclick="gatewaysave('{{name}}');" class="btn btn-success text-white" >Salvar</a>
  </div>
</div>
